USER_LANGUAGE="en"
USER_NO_STOP="y"
USER_INSTALL_TYPE="server"
USER_ENABLE_EMAIL="{{ ossec_email_alerts }}"
USER_EMAIL_ADDRESS="hugintsm.alert@gmail.com"
USER_EMAIL_SMTP="127.0.0.1"
USER_ENABLE_SYSLOG="y"
USER_DIR="{{ ossec_dir }}"
USER_UPDATE="y"
USER_UPDATE_RULES="y"
USER_DELETE_DIR="y"
USER_ENABLE_ACTIVE_RESPONSE="n"
USER_ENABLE_SYSCHECK="y"
USER_ENABLE_SYSLOG="y"
USER_ENABLE_ROOTCHECK="y"
USER_ENABLE_FIREWALL_RESPONSE="n"